.header {
  background: teal;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px;
}

.header a {
  text-align: center;
  padding: 12px;
  font-size: 18px;
  border-radius: 4px;
}
.header a:visited {
  background-color: lightseagreen;
}
.header a:hover {
  color: lightcoral;
  background-color: skyblue;
}

.header-right {
  float: right;
}

.favourite-food h2 {
  color: orange;
}

aside {
  float: right;
  padding-left: 5%;
}
